<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="Leads" >
  <test thread-count="5" name="Test">
    <classes>
     
       <class name="week5.testng.CreateLead"/>
      <class name="week5.testng.EditLead"/>
      <class name="week5.testng.DuplicateLead"/>
      <class name="week5.testng.MergeLead"/>
      <class name="week5.testng.DeleteLead"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Leads -->
